<script type="text/ng-template" id="customPopupTemplate.html" xmlns="http://www.w3.org/1999/html">
    <div class="custom-popup-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         style="display: block;"
         ng-show="isOpen() && !moveInProgress"
         aria-hidden="{{!isOpen()}}">
        <p class="message">请选择机场.</p>

        <ul class="dropdown-menu" role="listbox">
            <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="alert.html" charset="utf-8">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
        <div ng-transclude></div>
    </div>
</script>

<div ng-controller="CarouselCtrl">
    <uib-carousel active="0" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
            </div>
        </uib-slide>
    </uib-carousel>
</div>


<div class="container">
    <div class="container-fluid" ng-controller="ButtonsGoCtrl">
        <div class="row">
            <div class="col-md-2" ng-controller="ButtonsSingleCtrl">
                <p>
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'single'" uncheckable>单程</label>
                    <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'round'" uncheckable>往返</label>
                </div>
                </p>
            </div>
            <div class="col-md-2" ng-controller="ButtonsDirectCtrl">
                <p>
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'direct'" uncheckable>直飞</label>
                    <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'transfer'" uncheckable>转机</label>
                </div>
                </p>
            </div>
            <div class="col-md-4" ng-controller="ButtonsEcoCtrl">
                <p>
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'economy'" uncheckable>经济舱</label>
                    <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'business'" uncheckable>商务舱</label>
                    <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'vip'" uncheckable>头等舱</label>
                </div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-controller="TypeaheadCtrl">
                <p class="input-group">
                    <span class="input-group-addon" id="basic-addon3">出发地 :</span>
                    <input type="text" ng-model="customPopupSelected" placeholder="请选择机场" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control">
                </p>
            </div>
            <div class="col-md-4" ng-controller="TypeaheadCtrl">
                <p class="input-group">
                    <span  class="input-group-addon" id="basic-addon4">目的地 :</span>
                    <input type="text" ng-model="customPopupSelected" placeholder="请选择机场" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-controller="DatepickerFromCtrl">
                <p class="input-group">
                    <span id="DatepickerFromCtrlTooltip" data-toggle="tooltip" title="出发日期早于到达日期!!!" data-placement="bottom" data-trigger="manual" class="input-group-addon" id="basic-addon1">出发时间 :</span>
                    <input type="text" class="form-control" ng-readonly="true" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-4" ng-controller="DatepickerBackCtrl" id="DatepickerBackCtrl">
                <p class="input-group">
                    <span class="input-group-addon" id="basic-addon2">返回时间 :</span>
                    <input type="text" class="form-control" ng-readonly="true" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-controller="AdultNumberCtrl">
                <p class="input-group">
                    <span id="AdultNumberCtrlTooltip" data-toggle="tooltip" title="总人数不能为零!!!" data-placement="bottom" data-trigger="manual" class="input-group-addon" id="basic-addon5">成人 :</span>
                    <select class="form-control" ng-model="number.selected" ng-options="o as o for o in number.options" ng-change="update()"></select>
                </p>
            </div>
            <div class="col-md-4" ng-controller="ChildNumberCtrl">
                <p class="input-group">
                    <span class="input-group-addon" id="basic-addon6">儿童(2-12) :</span>
                    <select id="ChildNumberCtrlTooltip" data-toggle="tooltip" title="总人数不能为零!!!" data-placement="bottom" data-trigger="manual" class="form-control" ng-model="number.selected" ng-options="o as o for o in number.options" ng-change="update()"></select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-center">
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <a type="button" class="btn btn-default" ng-click="addAlert()">
                        开始查询
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>